.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--color-mono-light);
}

.footer__section-title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: var(--typography-normal);
  margin-bottom: 1em;
}

.footer__section-desc {
  font-size: 1.2rem;
  text-align: center;
}

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__social-item {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 0.25em 0.25em;
}

.footer__social-item-icon {
  width: 100%;
  height: auto;
}

.footer_sub-form {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.footer_sub-form-input {
  font-size: 1rem;
  line-height: 1.2em;
  border: solid 1px var(--color-mono-medium);
  padding: 0.25em 0.5em;
}

.footer_sub-form-btn {
  width: 2.5rem;
  height: 2.4rem;
  background-color: var(--color-mono-medium);
  border: none;
  padding: 0.2em 0.6em;
}

.footer_sub-form-btn-icn {
  width: 100%;
  height: auto;
  color: var(--color-mono-lighter);
}

@media all and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem calc((100% - var(--max-width-desktop)) / 2);
  }

  .footer__section-title,
  .footer__section-desc {
    text-align: left;
  }

  .footer__social-list {
    justify-content: left;
  }
}
