.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--color-mono-light);
}

.game__title {
  font-size: 2rem;
}

.game__board-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.game__board {
  flex: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;
  background-color: var(--color-mono-lighter);
}

.game__board-cell {
  width: calc(33.33vw - 2rem - 4px);
  height: calc(33.33vw - 2rem - 4px);
  padding: 1rem;
  border: solid 2px transparent;
  cursor: pointer;
}

.game__board-cell:nth-child(-n + 3) {
  border-bottom-color: var(--color-mono-medium);
}

.game__board-cell:nth-child(n + 7) {
  border-top-color: var(--color-mono-medium);
}

.game__board-cell:nth-child(3n + 2) {
  border-left-color: var(--color-mono-medium);
  border-right-color: var(--color-mono-medium);
}

.game__board-cell-x,
.game__board-cell-o,
.game__board-cell-x-win,
.game__board-cell-o-win {
  width: 100%;
  height: auto;
  color: var(--color-mono-dark);
}

.game__board-cell-x-win,
.game__board-cell-o-win {
  color: var(--color-success);
}

.game__player-1-wrapper,
.game__player-2-wrapper,
.game__timer-wrapper {
  text-align: center;
  flex: 1;
  padding: 1em 0;
}

.game__player-1,
.game__player-2 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: var(--typography-bold);
}

.game__timer {
  margin: 0 auto;
}

.game__player-1--selected,
.game__player-2--selected {
  font-style: normal;
  color: var(--color-success);
}

.game__player-1-score,
.game__player-2-score {
  display: block;
  font-weight: var(--typography-normal);
  font-size: 4rem;
  line-height: 1.5;
  margin: 0 auto;
}

.game__timer-button {
  background-color: var(--color-info);
  color: var(--color-mono-lighter);
  font-weight: var(--typography-bold);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
}

.game__timer-val {
  font-size: 2rem;
  margin: 0 auto;
}

@media all and (min-width: 1024px) {
  .game {
    padding: 2rem calc((100% - var(--max-width-desktop)) / 2);
  }

  .game__board {
    order: 2;
    flex: 2;
  }

  .game__player-1-wrapper {
    order: 1;
  }
  .game__player-2-wrapper {
    order: 3;
  }

  .game__timer-wrapper {
    order: 4;
    flex: 100%;
  }

  .game__board-cell {
    width: calc((var(--max-width-desktop) / 6) - 2rem - 4px);
    height: calc((var(--max-width-desktop) / 6) - 2rem - 4px);
  }
}
