.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem;
  background-color: var(--color-mono-medium);
}

.header__logo {
  display: flex;
  max-width: 14rem;
}

.header__logo-icon {
  color: var(--color-danger);
  height: 100%;
  width: auto;
}

.header__app {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header__app-title,
.header__app-desc {
  margin: 0.25em 0;
}

.header__app-title {
  font-weight: var(--typography-bold);
}

.header__app-desc {
  font-style: italic;
}

@media all and (min-width: 1024px) {
  .header {
    padding: 1rem calc((100% - var(--max-width-desktop)) / 2);
  }
}
