.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.profile__photo {
  width: 50%;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}

.profile__photo-image {
  width: 100%;
  height: auto;
  display: block;
}

.profile__name,
.profile__age,
.profile__location,
.profile__occupation {
  font-size: 1.5rem;
  margin: 0.25em 0;
  text-align: center;
}

.profile__name {
  font-size: 2.5rem;
  line-height: 2;
}

.profile__about {
  display: none;
}

@media all and (min-width: 1024px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem calc((100% - var(--max-width-desktop)) / 2);
  }

  .profile__photo {
    width: 20rem;
    flex: 1;
  }

  .profile__name,
  .profile__age,
  .profile__location,
  .profile__occupation {
    text-align: left;
  }

  .profile__section {
    flex: 1;
    margin: 0 2em;
  }

  .profile__section:last-of-type {
    flex: 2;
    margin-right: 0;
  }

  .profile__about {
    display: block;
    text-align: right;
  }
}
