.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.stats__title {
  font-size: 2rem;
  margin: 1rem auto 0.5rem;
}

.stats__subtitle {
  margin: 0.5rem auto 1rem;
  font-size: 1.5rem;
  font-weight: var(--typography-normal);
}

.stats__victories-title,
.stats__matches-history-title,
.stats__total-time-title {
  font-size: 1.5rem;
  font-weight: var(--typography-bold);
  text-align: center;
}

.stats__victories-title {
  flex: 100%;
}

.stats__victories-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.stats__victories-player1,
.stats__victories-player2 {
  flex: 1;
  text-align: center;
}

.stats__player-title {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
}

.stats__bubbles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats__bubble {
  display: flex;
  flex-direction: column;
}

.stats__bubble-val {
  margin: 0 auto;
  font-weight: var(--typography-bold);
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-mono-dark);
  line-height: 4rem;
  color: var(--color-mono-lighter);
  border-radius: 50%;
}

.stats__bubble-val-danger {
  background-color: var(--color-danger);
}

.stats__bubble-val-warning {
  background-color: var(--color-warning);
}

.stats__bubble-val-success {
  background-color: var(--color-success);
}

.stats__bubble:first-of-type .stats__bubble-val {
  margin-right: 0.25rem;
}

.stats__bubble:last-of-type .stats__bubble-val {
  margin-left: 0.25rem;
}

.stats__bubble-lbl {
  margin: 0.5rem auto 0;
  font-size: 1.5rem;
}

.stats__matches-history {
  margin-top: 2rem;
}

.stats__matches-history-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stats__matches-history-item {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: solid 1px var(--color-mono-medium);
  font-size: 1.2rem;
  margin: 0 0.25em 0.25em;
}

.stats__total-time {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

@media all and (min-width: 1024px) {
  .stats {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem calc((100% - var(--max-width-desktop)) / 2);
  }

  .stats__title,
  .stats__subtitle,
  .stats__subtitle,
  .stats__total-time {
    flex: 100%;
    text-align: center;
  }

  .stats__victories-wrapper,
  .stats__matches-history {
    flex: 50%;
    max-width: 50%;
  }
}
