@font-face {
  font-family: "Glacial Indifference";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/glacialindifference-italic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/glacialindifference-italic-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "Glacial Indifference";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/glacialindifference-bold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/glacialindifference-bold-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "Glacial Indifference";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/glacialindifference-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/glacialindifference-regular-webfont.woff")
      format("woff");
}

:root {
  --typography-body: "Glacial Indifference", sans-serif;
  --typography-size: 14px;
  --typography-line-height: 1.2;
  --typography-bold: 700;
  --typography-normal: 400;

  --color-mono-lighter: #ffffff;
  --color-mono-light: #f6f8f9;
  --color-mono-medium: #d8d8d8;
  --color-mono-dark: #777777;
  --color-mono-darker: #2c2e30;
  --color-info: #37a8ee;
  --color-success: #00dca4;
  --color-warning: #f1c40f;
  --color-danger: #ff4b53;

  --max-width-desktop: 952px;
}
