* {
  box-sizing: border-box;
}

html {
  font-family: var(--typography-body);
  font-size: var(--typography-size);
  font-weight: var(--typography-normal);
  line-height: var(--typography-line-height);
  font-style: normal;
  color: var(--color-mono-darker);
}

body {
  margin: 0;
  padding: 6rem 0 0;
  background-color: var(--color-mono-lighter);
}
